# BIDD 330A

## Jupyter Notebook Homework 3

### Python ODBC - Test Your Connection

In [70]:
import pyodbc 
import pandas as pd
from sqlalchemy import create_engine
import matplotlib.pyplot as plt
import os
import warnings
warnings.filterwarnings("ignore", category=DeprecationWarning)

In [71]:
import pyodbc 
conn = pyodbc.connect('DRIVER={SQL Server};SERVER=uwc-studentsql.continuum.uw.edu\\uwcbiddsql;DATABASE=Gold_Felipe;UID=fdgomez;PWD=7U_}u4GkZb})')
###conn = pyodbc.connect('DRIVER={ODBC Driver 18 for SQL Server};SERVER=test;DATABASE=test;UID=user;PWD=password')
cursor = conn.cursor()

## Testing Our Connection With Top 10 Queries from our dbo.FactUnemployment and dbo.FactCovid Tables

In [49]:
cursor.execute("SELECT TOP 10 * FROM [dbo].[FactUnemployment]")
for i in cursor:
    print(i)

(1, 'Alabama', '2020-01-04', 4578, '2019-12-28', 18523, 1923741, 0.96)
(2, 'Alabama', '2020-01-11', 3629, '2020-01-04', 21143, 1923741, 1.1)
(3, 'Alabama', '2020-01-18', 2483, '2020-01-11', 17402, 1923741, 0.9)
(4, 'Alabama', '2020-01-25', 2129, '2020-01-18', 18390, 1923741, 0.96)
(5, 'Alabama', '2020-02-01', 2170, '2020-01-25', 17284, 1923741, 0.9)
(6, 'Alabama', '2020-02-08', 2176, '2020-02-01', 16745, 1923741, 0.87)
(7, 'Alabama', '2020-02-15', 1981, '2020-02-08', 16571, 1923741, 0.86)
(8, 'Alabama', '2020-02-22', 1735, '2020-02-15', 16059, 1923741, 0.83)
(9, 'Alabama', '2020-02-29', 1575, '2020-02-22', 14721, 1923741, 0.77)
(10, 'Alabama', '2020-03-07', 1663, '2020-02-29', 13657, 1923741, 0.71)

In [51]:
cursor = conn.cursor()
cursor.execute('SELECT TOP 10 * FROM [dbo].[FactCovid]')

for i in cursor:
    print(i)

(1, 338995, '2020-01-21', 262, 0, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(2, 338996, '2020-01-22', 313, 51, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(3, 338997, '2020-01-23', 578, 265, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(4, 338998, '2020-01-24', 841, 263, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(5, 338999, '2020-01-25', 1320, 479, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(6, 339000, '2020-01-26', 2014, 694, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(7, 339001, '2020-01-27', 2798, 784, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(8, 339002, '2020-01-28', 4593, 1795, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(9, 339003, '2020-01-29', 6065, 1472, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')
(10, 339004, '2020-01-30', 7818, 1753, 0, 0, 0, 0, '', '', '', '', 'Worldwide', '', '', '')

### Jupyter Magic Command - Allows you to do PIP in Jupyter Notebook (May Need to Uncomment If Needed)

In [52]:
#!pip install ipython-sql

Requirement already satisfied: ipython-sql in c:\python\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\python\lib\site-packages (from ipython-sql) (3.10.0)
Requirement already satisfied: ipython in c:\python\lib\site-packages (from ipython-sql) (8.22.2)
Requirement already satisfied: sqlalchemy>=2.0 in c:\python\lib\site-packages (from ipython-sql) (2.0.29)
Requirement already satisfied: sqlparse in c:\python\lib\site-packages (from ipython-sql) (0.5.0)
Requirement already satisfied: six in c:\python\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\python\lib\site-packages (from ipython-sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\python\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (3.0.3)
Requirement already satisfied: decorator in c:\python\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\python\lib\site-packages (from ipython->ipython-sql) (0.19.1)
Requirement already satisfied: matplotlib-inline in c:\python\lib\site-packages (from ipython->ipython-sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\python\lib\site-packages (from ipython->ipython-sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\python\lib\site-packages (from ipython->ipython-sql) (2.17.2)
Requirement already satisfied: stack-data in c:\python\lib\site-packages (from ipython->ipython-sql) (0.6.3)
Requirement already satisfied: traitlets>=5.13.0 in c:\python\lib\site-packages (from ipython->ipython-sql) (5.14.2)
Requirement already satisfied: colorama in c:\python\lib\site-packages (from ipython->ipython-sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\python\lib\site-packages (from prettytable->ipython-sql) (0.2.13)
Requirement already satisfied: parso<0.9.0,>=0.8.3 in c:\python\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: executing>=1.2.0 in c:\python\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.1)
Requirement already satisfied: asttokens>=2.1.0 in c:\python\lib\site-packages (from stack-data->ipython->ipython-sql) (2.4.1)
Requirement already satisfied: pure-eval in c:\python\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)

In [53]:
#!pip install pretty

Requirement already satisfied: pretty in c:\python\lib\site-packages (0.1)

### Writing SQL Queries In Pandas Using Our Connection String For Our SQL Server

In [54]:
dataframeUnemployment = pd.read_sql("SELECT U.[State], SUM(U.[Initial Claims]) [ClaimsYTD] FROM [dbo].[FactUnemployment] U GROUP BY U.[State];", conn)
print(dataframeUnemployment)

                   State  ClaimsYTD
0            Puerto Rico     699280
1               Illinois    5384119
2               Oklahoma    1484331
3              Wisconsin    2290597
4                  Maine     375573
5           Pennsylvania    4976948
6          Massachusetts    3019233
7                   Ohio    5013617
8                Arizona    1689229
9                 Oregon    1630600
10               Wyoming     161076
11             Louisiana    1700458
12                Hawaii     729364
13         New Hampshire     421329
14              Virginia    2137871
15              New York    8170657
16          South Dakota     115986
17   Run Date: 3/22/2024          0
18              Maryland    1764926
19            California   20574341
20              Missouri    1843696
21             Minnesota    2050819
22  District of Columbia     358711
23               Florida    5747124
24               Indiana    2144007
25                Alaska     483898
26              Delaware     323890
27            Washington    3260401
28          North Dakota     194564
29           Connecticut    1340220
30                                0
31            New Jersey    3580924
32              Michigan    3939410
33                  Iowa     986778
34        North Carolina    2264512
35               Vermont     202308
36                 Idaho     558144
37               Georgia    5883454
38              Nebraska     375868
39        Virgin Islands      16868
40           Mississippi     860599
41              Colorado    1258568
42                 Texas    7689386
43        South Carolina    1238813
44         West Virginia     486528
45               Montana     373389
46                  Utah     577070
47               Alabama    1598438
48             Tennessee    1705979
49          Rhode Island     674323
50              Arkansas     763544
51                Nevada    1353596
52                Kansas     919507
53              Kentucky    2066871
54            New Mexico     582668

C:\Users\Felipe\AppData\Local\Temp\ipykernel_30628\3639634750.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframeUnemployment = pd.read_sql("SELECT U.[State], SUM(U.[Initial Claims]) [ClaimsYTD] FROM [dbo].[FactUnemployment] U GROUP BY U.[State];", conn)

In [57]:
dataframeCovid = pd.read_sql("SELECT TOP 10 * FROM [dbo].[FactCovid];", conn)
print(dataframeCovid)

   FactCovid_Key      ID     Updated  Confirmed  Confirmed_Change  Deaths  \
0              1  338995  2020-01-21        262                 0       0
1              2  338996  2020-01-22        313                51       0
2              3  338997  2020-01-23        578               265       0
3              4  338998  2020-01-24        841               263       0
4              5  338999  2020-01-25       1320               479       0
5              6  339000  2020-01-26       2014               694       0
6              7  339001  2020-01-27       2798               784       0
7              8  339002  2020-01-28       4593              1795       0
8              9  339003  2020-01-29       6065              1472       0
9             10  339004  2020-01-30       7818              1753       0

   Deaths_Change  Recovered  Recovered_Change Latitude Longitude Iso2 Iso3  \
0              0          0                 0
1              0          0                 0
2              0          0                 0
3              0          0                 0
4              0          0                 0
5              0          0                 0
6              0          0                 0
7              0          0                 0
8              0          0                 0
9              0          0                 0

  Country_Region Admin_Region_1 Iso_Subdivision Admin_Region_2
0      Worldwide
1      Worldwide
2      Worldwide
3      Worldwide
4      Worldwide
5      Worldwide
6      Worldwide
7      Worldwide
8      Worldwide
9      Worldwide

C:\Users\Felipe\AppData\Local\Temp\ipykernel_30628\1746074442.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframeCovid = pd.read_sql("SELECT TOP 10 * FROM [dbo].[FactCovid];", conn)

In [72]:
dataframeCovid_InterestingQuery = pd.read_sql(
    """SELECT DC.Country, DD.TheYear AS Year, DD.TheMonthName AS MonthName, DD.TheMonth AS Month, MAX(Deaths) AS MaxDeaths
    FROM [dbo].[FactCovid] FC LEFT JOIN DimCountry DC ON FC.Country_Region = DC.Country LEFT JOIN DimDates DD ON FC.Updated = DD.TheDate 
    WHERE DC.Country = 'Germany' AND DD.TheYear IN (2020, 2021, 2022, 2023)
    GROUP BY DC.Country, DD.TheYear, DD.TheMonthName, DD.TheMonth 
    ORDER BY DD.TheYear DESC, DD.TheMonth DESC;""", conn)
print(dataframeCovid_InterestingQuery)

C:\Users\Felipe\AppData\Local\Temp\ipykernel_30628\2061095074.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  dataframeCovid_InterestingQuery = pd.read_sql(

    Country  Year  MonthName  Month  MaxDeaths
0   Germany  2023      March      3     168296
1   Germany  2023   February      2     167812
2   Germany  2023    January      1     165563
3   Germany  2022   December     12     161321
4   Germany  2022   November     11     157791
5   Germany  2022    October     10     153544
6   Germany  2022  September      9     149948
7   Germany  2022     August      8     147404
8   Germany  2022       July      7     143972
9   Germany  2022       June      6     141105
10  Germany  2022        May      5     139000
11  Germany  2022      April      4     135451
12  Germany  2022      March      3     129391
13  Germany  2022   February      2     122702
14  Germany  2022    January      1     117786
15  Germany  2021   December     12     111925
16  Germany  2021   November     11     101344
17  Germany  2021    October     10      95729
18  Germany  2021  September      9      93638
19  Germany  2021     August      8      92200
20  Germany  2021       July      7      91658
21  Germany  2021       June      6      90875
22  Germany  2021        May      5      88442
23  Germany  2021      April      4      82850
24  Germany  2021      March      3      76833
25  Germany  2021   February      2      70045
26  Germany  2021    January      1      56945
27  Germany  2020   December     12      33071
28  Germany  2020   November     11      16248
29  Germany  2020    October     10      10452
30  Germany  2020  September      9       9488
31  Germany  2020     August      8       9298
32  Germany  2020       July      7       9141
33  Germany  2020       June      6       8973
34  Germany  2020        May      5       8500
35  Germany  2020      April      4       6288
36  Germany  2020      March      3        583
37  Germany  2020   February      2          0
38  Germany  2020    January      1          0

In [73]:
conn.close()

### Some Fun Python Magic Commands

In [56]:
import os
cwd = os.getcwd()
print('Current Working Directory is: ', cwd)

Current Working Directory is:  C:\Users\Felipe\OneDrive - UW\BIDD 330A\BIDD330A_HW3_FelipeGomez\JupyterNotebook

In [55]:
%pwd

'C:\\Users\\Felipe\\OneDrive - UW\\BIDD 330A\\BIDD330A_HW3_FelipeGomez\\JupyterNotebook'